<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=fade32de-9459-4df4-a547-54f9ff6578b9&lang=ru_RU" type="text/javascript"></script>
  <link rel="stylesheet" href="style.css">
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
  <div class="container">
    {{> "./src/templates/geo-content.hbs"}}
  </div>
</body>
</html>
